.login-root{
height: 100vh;
}

.login-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #9C346B;
    text-align: center;
}

.login-block{
    max-width: 422px;
    width: 100%;

}
.login-block img{
    text-align: center;
}
.login-block .img-item{
    text-align: center;
}

.input-item{
    display: flex;
    flex-direction: column;
    margin: 0 0 28px;

}
.password-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.password-item span{
    cursor: pointer;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #9C346B;
}

.input-item input{
    height: 100%;
    padding: 8px 8px 8px 12px;
    width: 100%;
    background-color: initial;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    position: relative;
}
.input-item.password input::placeholder{
    vertical-align: center;
    position: relative;
    top: 3px;

}
.input-item label{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 10px;
}


.radio-label{
    display: flex;
    align-items: center;

}

.radio-label input[type=checkbox] {
    margin: 0 4px 0 0;
    position: relative;
    width: 17px;
    min-width: 17px;
    height: 17px;
    color: #fff;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.radio-label input[type=checkbox]:before {
    position: absolute;
    content: "";
    display: block;
    color: #9C346B;
    top: 1px;
    left: 4px;
    width: 4px;
    height: 7px;
    border-color: #9C346B;
    border-style: solid;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
}

.radio-label input[type=checkbox]:checked {
    border: 2px solid #9C346B;
}
.radio-label input[type=checkbox]:checked:before {
    opacity: 1;
}
.checkbox span{
    cursor: pointer;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #9C346B;
}

.login-block .btn-item{
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9C346B;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.login-block .btn-item span{
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    .login-container{
        margin: 0 10px;
    }
    .login-container .login-block{
        padding: 0 20px 0 0;
    }

}